/* COLOR VARIABLES */
/* BREAKPOINTS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");
body {
  background-color: #fff;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
}

p {
  line-height: 30px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

.hor-ver-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1350px) {
  .container {
    width: 85%;
  }
}

.highlight {
  font-weight: 600 !important;
  position: relative;
  z-index: 2;
  display: inline;
  padding-left: 10px;
}

.highlight::after {
  content: "";
  background-color: #ffccd0;
  z-index: -1;
  width: 108%;
  height: 40%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.highlight:hover::after {
  -webkit-animation: moveUpHighlight 1s both;
          animation: moveUpHighlight 1s both;
}

header {
  height: 50px;
  background-color: #fff5f6;
  margin-bottom: 13rem;
}

header img {
  width: 255px;
  margin-left: -1rem;
}

main {
  margin-bottom: 10rem;
}

main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

main .intro .toilet-kaart {
  width: 40vw;
  margin-top: -5rem;
}

main .intro__content {
  width: 40%;
}

main .intro__content h1 {
  font-size: 75px;
  margin-bottom: 2rem;
}

main .intro__content h1 span {
  font-weight: 600;
}

main .intro__content h1 span:last-of-type {
  font-weight: 400;
}

main .intro__content p {
  margin-right: 20px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1350px) {
  main .intro__content p {
    margin-bottom: 2rem;
  }
}

main .intro__card {
  border: 1px dashed #ff9aa2;
  width: 500px;
  height: 150px;
  position: relative;
}

main .intro__card div {
  width: 80%;
}

main .intro__card div h2 {
  font-size: 30px;
  margin-bottom: 0.8rem;
  font-weight: 400;
}

main .intro__card div h2 span {
  font-weight: 600;
}

main .intro__card div p {
  margin: 0;
}

main .intro__card::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff5f6;
  left: 10px;
  top: 10px;
  z-index: -1;
}

main .categories {
  height: 562px;
  background-color: #fff5f6;
  margin-top: -10rem;
  padding-top: 12rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 1350px) {
  main .categories {
    margin-top: 0;
    padding-top: 0;
  }
}

main .categories__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .categories__content ul li {
  padding: 2rem;
  text-align: center;
}

main .categories__content ul li .rack {
  position: relative;
}

main .categories__content ul li .rack img {
  width: 140px;
}

main .categories__content ul li .rack .rack-image {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

main .categories__content ul li p {
  text-transform: uppercase;
  color: #ff9aa2;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
}

main .categories__content ul li p i {
  opacity: 0;
  font-size: 0.8rem;
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

main .categories__content ul li p:hover {
  -webkit-animation: hoverCatTitle 1s forwards;
          animation: hoverCatTitle 1s forwards;
}

main .categories__content ul li p:hover i {
  opacity: 1;
}

main .portfolio {
  width: 80%;
  margin: auto 0 auto auto;
  position: relative;
}

main .portfolio h2 {
  margin-right: 3rem;
}

main .portfolio a {
  text-transform: uppercase;
  color: #ff9aa2;
  position: relative;
  text-decoration: none;
}

main .portfolio a i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

main .portfolio a:hover {
  text-decoration: underline;
}

main .portfolio a:hover i {
  opacity: 1;
}

main .portfolio .bg {
  height: 570px;
  background-color: #fff5f6;
  margin-top: 2rem;
}

main .portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: -9rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 103%;
}

main .portfolio__item {
  width: 270px;
}

main .portfolio__item img {
  width: 270px;
  margin-bottom: 1rem;
}

main .portfolio__item small {
  font-size: 14px;
  color: #ff9aa2;
  text-transform: uppercase;
}

main .portfolio__item h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5rem;
  cursor: pointer;
}

footer {
  height: 532px;
  background-color: #ffccd0;
  margin-bottom: 5rem;
  position: relative;
}

footer .footer__content {
  width: 30%;
  height: 100%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer .footer__content h2 span {
  font-weight: 400;
}

footer .footer__content p {
  margin-top: 3rem;
  color: white;
}

footer .contact {
  width: 670px;
  height: 664px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 7%;
  -webkit-box-shadow: 0px 5px 20px #0000001a;
          box-shadow: 0px 5px 20px #0000001a;
  text-align: center;
  padding: 5rem 0;
}

footer .contact p {
  margin-top: 1rem;
}

footer .contact form {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

footer .contact form input,
footer .contact form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff5f6;
  border: 1px solid #0000001a;
  padding: 1rem;
}

footer .contact form input {
  height: 40px;
  line-height: 50%;
}

footer .contact form textarea {
  min-height: 170px;
}

footer .contact form input[type="submit"] {
  width: 30%;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: #ff9aa2;
  cursor: pointer;
}

footer p,
footer a {
  color: #5c5c5c;
}

@-webkit-keyframes hoverCatTitle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes hoverCatTitle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes moveUpHighlight {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes moveUpHighlight {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=styles.css.map */