/* COLOR VARIABLES */
$text-dark: #272727;
$text-light: #5c5c5c;

$pink-bright: #ff9aa2;
$pink: #ffccd0;
$pink-light: #fff5f6;

$body: #fff;

/* BREAKPOINTS */
$laptop: 1350px;
$tablet: 1080px;
$phone: 700px;
